{
  "presets": ["react-native", "flow"],
  "env": {
    "production": {
      "plugins": ["transform-remove-console"]
    }
  },
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "src": "./src",
          "components": "./src/components/",
          "containers": "./src/containers/",
          "theme": "./src/theme/",
          "routes": "./src/Routes"
        },
        "cwd": "babelrc"
      }
    ]
  ]
}
